@use 'src/styles/vars';

.inAppPage {
}

.page {
  height: 100%;
  width: 29em;

  margin: auto;

  font-family: vars.$global-font;
  &__pic {
    height: 50%;

    text-align: center;

    &__image {
      object-fit: contain;
      height: auto;
      max-width: 100%;
      position: relative;
      margin: 0px 0px;
    }
    &__title {
      display: inline-block;
      position: absolute;
      top: 35%;
      left: 47%;
      font-size: 2.8em;
      padding: 5px 5px;
      background-color: white;
      // width: auto;
      // max-width: 50%;

      background-size: contain;
    }
    // background-color: vars.$test-color;
  }
  &__mark {
    height: 5%;
    // background-color: slateblue;
    display: flex;
    justify-content: space-evenly;
    // padding: 0.8em 0em;
    margin: 0px 0px 35px 0px;

    &__circle {
      background-color: grey;
      height: 15px;
      width: 15px;
      border-radius: 90px;
    }
  }
  &__text {
    font-size: 1.5em;
    height: 45%;
    // background-color: royalblue;
    text-align: left;
    margin: 30px 0px;
  }

  &__links {
    height: 5%;

    // background-color: seagreen;
    color: orangered;
    padding: 50px 0px 0px 0px;
    font-size: 20px;
    font-weight: thin;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
    &__link {
      &__prev {
        cursor: pointer;

        user-select: none;
      }
      &__next {
        cursor: pointer;

        user-select: none;
      }
    }
  }
  // background-color: red;
}
